<div class="row">
  <%current_restaurant.reservations.each do |res|%>
  <div class="col-md-3">
    <div class="card text-center" style="width: 14rem;">
      <div class="card-body">
        <h5 class="card-title">Name: <%="#{res.guest.first_name} #{res.guest.last_name}"%></h5>
        <p class="card-text">On <%=res.slot.date.to_datetime.strftime('%b %e %a')%> at <%=res.slot.time%></p>
        <p class="card-text">For <%=res.slot.party_size%> People</p>
        <p>Phone Number: <%=cell_format(res.guest.phone_number) if !res.guest.phone_number.nil?%></p>
        <p>Email: <%=res.guest.email%></p>
        <p>Notes: <%=res.notes%></p>
        <%=form_tag guest_reservation_path(res.guest, res), method:"delete" do %>
          <%=hidden_field_tag :completed, value: true %>
          <%=submit_tag "Mark as Complete", class:"btn btn-success"%>
        <%end%>
      </div>
    </div>
  </div>
  <%end%>
</div>