<%if @restaurant.errors.any?%>
  <% @restaurant.errors.full_messages.each do |message|%>
    <div class="alert alert-danger"><%= message %></div>
  <%end%>
<%end%>

    <%=form_for @restaurant, class:'form-group' do |f|%>
    <%=f.text_field :name, class:"form-control", placeholder:'Name of the Restaurant', :required => true %>
    <%=f.text_field :email, class:"form-control", placeholder:'Email Address', :required => true %>
    <%=f.password_field :password, class:"form-control", placeholder:'Password' %>
    <%=f.password_field :password_confirmation, class:"form-control", placeholder:'Confirm Password'%>
    <%=f.text_field :opening_time, class:"form-control", placeholder:'Opening Time: 24hr Format, Example: 17:00', :required => true %>
    <%=f.text_field :closing_time, class:"form-control", placeholder:'Closing Time: 24hr Format, Example: 23:00', :required => true %>
    <%=f.text_field :phone_number, class:"form-control", placeholder:'Phone Number of the Restaurant', :required => true %>
    <%=f.text_field :address, class:"form-control", placeholder:'Address', :required => true %>
    <%=f.text_field :picture, class:"form-control", placeholder:'Enter a URL for Profile Picture', :required => true %>
    <%=f.number_field :capacity, class:"form-control", placeholder:'Capacity of the Restaurant', :required => true %>
    <%=label_tag "Select City or Add if Non-exists", nil, class:"form-control text-center"%>
    <%=f.fields_for :city do |o|%>
    <%=o.collection_select :id, City.all, :id, :name, {prompt: "Select City"} , prompt: "Select City", class: "form-control"%>
    <%=o.text_field :name, class:"form-control", placeholder:"Add New City"%>
    <%end%>
    <div class="text-center"><br>
      <%=f.submit  class: "btn btn-primary "%>
    </div>
    <%end%>

    </div>
  </div>
</div>