<div class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid">
    <a class=" text-dark w-75 p-4 display-3 nav-link" href="/"><strong>FINE DINE</strong></a>
    <p class="w-100 p-1 text-grey">(restaurateur edition)<p>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav justify-content-between w-100">
      <%=link_to "All Restaurants",restaurants_path, class:"nav-item nav-link active"%>
      <%=link_to "My Restaurant", restaurant_path(current_restaurant), class:"nav-item nav-link"%>
      <%=link_to "My Reservations", restaurant_reservations_path(current_restaurant), class:"nav-item nav-link"%>
      <%=link_to "My Slots", restaurant_slots_path(current_restaurant), class:"nav-item nav-link"%>
      <%=link_to "Edit Information", edit_restaurant_path(current_restaurant),class:"nav-item nav-link" %>
      <%=link_to "Search Restaurants", search_page_path , class:"nav-item nav-link"%>
      <%=form_tag "/restaurant_sessions/#{session[:restaurant_id]}", method:'delete', class:"nav-item nav-link" do%>
        <%=submit_tag 'Log Out', class:"btn btn-danger btn-sm"%>
      <%end%>
    </ul>
  </div>
</nav>

