<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fine Dine Restaurants</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- CSS only BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>
  <body style="margin-bottom: 150px">

    <%if session[:guest_id]%>
    <%=render 'layouts/guest_navbar'%>
    <%elsif session[:restaurant_id]%>
    <%=render 'layouts/restaurant_navbar'%>
    <%end%>

    <%= yield %>
  

     <%=render 'layouts/footer'%>
     
  </body>
</html>
